<header class="header">
    <img alt="cvCard WP" src="http://themes.pixelwars.org/cvcard-wp/wp-content/uploads/2014/04/avatar.png">

    <h1>Hoang Nghiem</h1>

    <p>fullstack web developer</p>

    <ul class="vs-nav">
        <li>
            <a href="/">
                <i class="fa fa-home tooltip" data-tooltip-pos="left" title="GO TO HOME"></i>
            </a>
        </li>
        
        <li>
            <a>
                <i class="fa fa-search tooltip" data-tooltip-pos="right" title="SEARCH"></i>
            </a>
        </li>
    </ul>
    
    <!-- end .header-search -->
</header>
<!-- end .header -->
